.outlinePrimary{
    border: 2px solid #0069d9;
    font-size: 17px;
}

.outlineTitle{
    position: relative;
    top: 15px;
    left: 10px;
    height: 35px;
    font-size: 23px;
    width: fit-content;
}

/*06D6A0  BDE0FE
    estilos que se aplican si la resolucion de la pantalla es menor a 768px
*/
@media screen and (max-width: 768px){
    
}  